<div class="landing-content container-fluid">
    <div class="col-xs-6 col-xs-offset-3 landing-info text-center">
        <h2>
            Application for storehouse management.
        </h2>
        <h4>
            We store your building plan, sections and their characteristics. We use that information to help you with choosing the place to store goods, their tracking and reporting information about it.
        </h4>
    </div>
    <div class="col-xs-4 col-xs-offset-4 landing-info text-center">
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login"> Login </a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Register"> Register </a>
    </div>
</div>