html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #fcfdfe
}

p {
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.landing-content {
    background-image: url("/images/background-placeholder.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
}

.content {
    height: 85%;
}

.landing-info {
    background-color: #EEEEEE;
    opacity: 0.85;
    border-radius: 10px;
    padding: 20px;
}

.account-content {
    max-width: 320px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    background-color: #EEEEEE;
}

footer {
    clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.link-silent, .link-silent:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.account-background {
    background-image: url("/images/background-placeholder-chuvak.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    position: absolute;
    height: 400px;
    margin: 40px 0;    
}

#mount {
    
}