
.area .area-info-badge:first-child {
  border-radius: 5px 0px 0px 5px;
}

.area .area-info-badge:last-child {
  border-radius: 0px 5px 5px 0px;
}

.area .key, .area .value {
  padding: 5px;
}

.area .key {
  background-color: #337ab7;
  width: 90px;
  display: table-cell;
  vertical-align: middle;
}

.area .value {
  background-color: grey;
  width: 70px;
  word-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
}

.area-name {
  width: 100px !important;
}


.area .selected {
  background-color: #669966
}

.area {
  margin: 10px;
  display: inline-block;
}

.area .area-info-badge {
  display: inline-block;
  color: white;
  position: relative;
}

li {
  list-style-type: none;
}
