.outsideArea {
    text-align: center;
}

.outsideArea > .goodsTableContainer {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 15px;
}

.outsideArea > .goodsTableContainer:first-child {
    margin-left: 50px;
}