.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}

.sidebar-nav:first-child {
    overflow: hidden;
    margin-bottom: 30px;
}

.sidebar-nav .navbar {
    min-height: 40px;
}

.sidebar-nav .navbar .container {
    width: 100%;
    padding: 0px;
    text-align: center;
}

.register-btn {
    margin: 10px;
}

ul.nav.navbar-nav {
    margin: 0px !important;
}

.menu-area-select {
    margin: 10px 0;
}